//pager
if pages>1
    .pagination.pagination-right
        ul
            if page>1
                li
                    a(href='?page=#{page-1}',title='上一页') ←Prev
            if pages<=5
                - var index=0;
                - while(index<pages){
                    - index++;
                    if index===page
                        li.active
                            a(href='javascript:void(0);')= index
                    else
                        li
                            a(href='?page=#{index}')= index
                - }
            else
                if(page-1>1)
                    li
                        a(href='?page=1')= 1
                if(page-2>1)
                    li
                        span ...
                - var index=page>1?page>pages-1?page-2:page-1:page,count=page<pages?page<2?page+2:page+1:pages;
                - while(index<=count){
                    if index===page
                        li
                            a.active(href='javascript:void(0);')= index
                    else
                        li
                            a(href='?page=#{index}')= index
                    - index++;
                - }
                if(page+2<pages)
                    li
                        span ...
                if(page+1<pages)
                    li
                        a(href='?page=#{pages}')= pages
            if page<pages
                li
                    a(href='?page=#{page+1}',title='下一页') Next→